:root {
  --cor-fundo: #ee66f3;
  --cor-principal: #eff0f8;
  --cor-secundaria: #f47efb;
  --cor-destaque: #f106b7;
  --cor-texto: #f106b7 ;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa-principal {
  background-color: #f8b7f2e8;
  width: 90%;
  text-align: center;
  padding: 20px;
}

h1 {
  color: var(--cor-destaque);
}

button {
  background-color:#f47efb;
  color: #8bd7e5;
  border: none;
  border-radius: 15px;
  padding: 15px;
  transition: background-color 0.3s;
}

button:hover {
  background-color:#f47efb;
  color: #f9fdfe;
}

.introducao {
  background-color:#f8b7f2e8;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
  font-size: 1.1em;
  line-height: 1.6;
  color: #333;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #666;
  font-size: 0.9em;
}

footer {
    position: fixed;      /* fixa o rodapé na tela */
    bottom: 0;            /* na parte inferior */m
    left: 0;              /* alinhado à esquerda */
    width: 100%;          /* ocupa toda a largura da tela */
    background-color: #f8f9fc;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    color: #0b0a0a;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}